# Compiled Object files
*.slo
*.lo
*.o

# Compiled Dynamic libraries
*.so

# Compiled Static libraries
*.lai
*.la
*.a

# Netbeans files
/dist/
/build/
/private/
platforms/macosx/Gearboy/nbproject/private/
platforms/linux/Gearboy/nbproject/private/
private.xml
Makefile-variables.mk

# Mac files
*.DS_Store

# Visual Studio files
ipch/
[Oo]bj
[Bb]in
*.[Cc]ache
*.obj
*.exe
*.exp
*.pdb
*.dll
*.user
*.aps
*.pch
*.sdf
*.opensdf
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.ilk
*.log
*.zip
[Dd]ebug*/
*.lib
*.sbr
Thumbs.db
[Ll]ib/
[Rr]elease*/
[Tt]est[Rr]esults/
_UpgradeReport_Files/
_ReSharper.*/

# Gearboy Memory Dump

output.txt


# Qt Ignores
moc_GLFrame.cpp
moc_MainWindow.cpp
moc_RenderThread.cpp
qt-Debug.mk
qt-Release.mk
ui_MainWindow.h

