# Netbeans files
/dist/
/build/
/nbproject/private/
private.xml
Makefile-variables.mk

platforms/macosx/Gearboy/nbproject/private/configurations.xml
/platforms/linux/Gearboy/dist/
/platforms/linux/Gearboy/build/
/platforms/linux/Gearboy/nbproject/private/
/platforms/raspberry/Gearboy/nbproject/private/

# Mac files
*.DS_Store

# Visual Studio files
ipch/
[Oo]bj
[Bb]in
*.[Cc]ache
*.obj
*.exe
*.exp
*.pdb
*.dll
*.user
*.aps
*.pch
*.sdf
*.opensdf
*.vspscc
*_i.c
*_p.c
*.ncb
*.suo
*.tlb
*.tlh
*.bak
*.ilk
*.log
*.zip
[Dd]ebug*/
*.lib
*.sbr
Thumbs.db
[Rr]elease*/
[Tt]est[Rr]esults/
_UpgradeReport_Files/
_ReSharper.*/

# Gearboy Memory Dump

output.txt


# Qt Ignores
moc_*.cpp
qt-Debug.mk
qt-Release.mk
ui_*.h

*.txt
/platforms/macosx/Gearboy/build/
/platforms/macosx/Gearboy/dist/

platforms/macosx/Gearboy/gearboy.ini
platforms/windows/Gearboy/gearboy.ini
platforms/linux/Gearboy/gearboy.ini
platforms/raspberrypi/Gearboy/gearboy.ini

*.xcuserstate

platforms/ios/Gearboy.xcodeproj/xcuserdata/*

*.gb

*.xcexplist

*.xcsettings

*.xccheckout

platforms/macosx/Gearboy/nbproject/private/launcher.properties
